
@font-face {
  font-family: "asche";
  src: url('assets/fonts/asche-regular-webfont.eot');
  src: url('assets/fonts/asche-regular-webfont.eot?#iefix') format('embedded-opentype'),
      url('assets/fonts/asche-regular-webfont.ttf')  format('truetype'),
      url('assets/fonts/asche-regular-webfont.woff') format('woff');
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  height: 100%;
}
body {
  background: #000;
  color: #fff;
  font-size: 16px;
  font-family: "Abel", sans-serif;
  min-height: 100%;
  -webkit-overflow-scrolling: touch;
}

.header {
  background: #111 url("./assets/img/header.jpg") no-repeat 50% 50%;
  background-size: cover;
  display: flex;
  align-items: center;
  height: 50%;
}
  .headerGroup {
    padding-left: 2em;
  }
  .header__title {
    color: #fff;
    font-family: "asche", serif;
    font-size: 5em;
    font-weight: normal;
    letter-spacing: 0.05em;
    line-height: 1em;
    margin: 0;
    width: 100%;
  }
  .header__subtitle {
    color: #fff;
    font-size: 1.5em;
    font-weight: normal;
    letter-spacing: 0.05em;
    margin: 0;
    text-transform: uppercase;
    width: 100%;
  }

.main {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
  .main__block {
    background: #111;
    height: 50%;
    width: 33.33%;
  }
  .main__block:last-child {
    margin-right: auto;
  }
    .main__block__content {
      border-color: rgba(255, 255, 255, 0.1);
      border-style: solid;
      border-width: 0 1px 1px 0;
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 2em;
      position: relative;
      height: 100%;
      width: 100%;
    }
      .main__block__content__text {
        line-height: 1.5em;
        text-align: justify;
      }
      .main__block__content__title {
        font-weight: normal;
        margin: 0;
        text-align: center;
        text-transform: uppercase;
      }
      .main__block__content__icon {
        border-radius: 0.1em;
        bottom: 1em;
        display: inline-block;
        height: 2em;
        opacity: 0.99;
        position: absolute;
        right: 1em;
        width: 2em;
      }

.footer {
  background: #111;
}
  .footer__content {
    display: flex;
    padding: 1em;
  }
    .footer__content__links, .footer__content__subscribe {
      width: 50%;
    }
      .footer__content__social {
        height: 2em;
        margin-left: 1em;
        opacity: 0.99;
        width: 2em;
      }
    .footer__content__subscribe {
      text-align: right;
    }
      .footer__content__subscribe__label {
        font-size: 1em;
        padding: 0 1em 0 0;
        vertical-align: middle;
      }
      .footer__content__subscribe__input {
        background: none;
        border-color: rgba(255, 255, 255, 0.5);
        border-style: solid;
        border-width: 0 0 1px;
        color: #fff;
        font-family: "Abel", sans-serif;
        font-size: 1em;
        outline: none;
        vertical-align: middle;
        width: 10em;
      }
      .footer__content__subscribe__button {
        background: none;
        border: 1px solid #fff;
        color: #fff;
        cursor: pointer;
        font-family: "Abel", sans-serif;
        font-size: 1em;
        margin-left: 1em;
        padding: 0.2em 1em;
        vertical-align: middle;
      }

@media screen and (max-width:639px) {
  body {
    font-size: 14px;
  }
  .main__block {
    width: 100%;
  }
  .footer__content {
    display: block;
  }
    .footer__content__social {
      margin: 0 1em 0 0;
    }
    .footer__content__links, .footer__content__subscribe {
      padding-bottom: 1em;
      text-align: left;
      width: 100%;
    }
      .footer__content__subscribe__input {
        width: 5em;
      }
}
@media screen and (min-width: 640px) and (max-width: 960px) {
  .main__block {
    width: 50%;
  }
}
